.chart-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.backbutton {
    color: white;
    background: #17173c;
    width: 15%;
    align-self: center;
    border: 1px solid #17173c;
    padding: 8px;
    cursor: pointer;
}