.chart-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.backbutton {
    color: white;
    background: #17173c;
    width: 15%;
    align-self: center;
    border: 1px solid #17173c;
    padding: 8px;
    cursor: pointer;
}

.buyButton {
    font-size: 1.3rem;
    color: white;
    background-color: #facc6b;
    background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
    width: 15%;
    align-self: center;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media(max-width: 768px) {
    .backbutton, .buyButton {
        width: 24%;
    }
}

@media(max-width: 600px) {
    .backbutton, .buyButton {
        width: 40%;
    }
}

@media(max-width: 320px) {
    .backbutton, .buyButton {
        width: 70%;
    }
}