.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.purse {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* media queries */
@media(max-width: 768px) {
    .coin-containers {
        width: 24%;
    }
}

@media(max-width: 600px) {
    .coin-containers {
        width: 40%;
    }
}

@media(max-width: 320px) {
    .coin-containers {
        width: 70%;
    }
}


