.chart-outer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.backbutton {
    width: 15%;
    align-self: center;
    color: white;
    background: #17173c;
    border: 1px solid #17173c;
    padding: 8px;
    cursor: pointer;
}

.buyButton {
    width: 15%;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    background-color: #facc6b;
    background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
    border: none;
    padding: 8px;
    cursor: pointer;
}

@media(max-width: 768px) {

    .chart-outer-container {
        flex-direction: column;
    }
    
    .backbutton {
        width: 24%;
    }

    .buyButton {
        width: 20%;
    }
}

@media(max-width: 600px) {
    .backbutton {
        width: 40%;
    }

    .buyButton {
        width: 36%;
    }
}

@media(max-width: 320px) {
    .backbutton {
        width: 70%;
    }

    .buyButton {
        width: 66%;
    }
}