.coinImages {
    width: 25px;
}

.purse {
    display: flex;
    flex-wrap: wrap;
}

.coin-containers {
    width: 20%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ticker {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.7rem;
}