* {
    box-sizing: border-box;
}
.loader {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}


.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.coinImages {
    width: 25px;
}

.purse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.coin-containers {
    width: 17%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(159, 159, 175, .15);
    border-radius: 3px;
    margin: 1%;
    cursor: pointer;
}

.coin-containers:hover {
    box-shadow: 0 14px 28px rgba(92,151,191,0.25), 0 10px 10px rgba(92,151,191,0.22);
}

.ticker {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.7rem;
}




/*  */
.cs-loader {
  height: 100%;
  width: 100%;
  margin-top: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  color: navy;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
/*  */