* {
    box-sizing: border-box;
}



.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.coinImages {
    width: 25px;
}

.purse {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coin-containers {
    width: 16%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(159, 159, 175, .15);
    border-radius: 3px;
    margin: 2%;
    cursor: pointer;
    font-size: 1.25rem;
}

.coin-containers:hover {
    box-shadow: 0 14px 28px rgba(92,151,191,0.25), 0 10px 10px rgba(92,151,191,0.22);
}

.ticker {
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.7rem;
}

@media(max-width: 768px) {
    .coin-containers {
        width: 24%;
    }
}

@media(max-width: 600px) {
    .coin-containers {
        width: 32%;
    }
}

@media(max-width: 320px) {
    .coin-containers {
        width: 49%;
    }
}


